.carouselItem {
    /* Styles for the entire carousel item */
    display: block;
    margin-bottom: 20px;
  }
  
  .image {
    /* Styles for the image */
    width: auto;
    height: 350px;
    border-radius: 8px 8px 8px 8px; /* Rounded top corners */
  }
  