/* Reset default styles */
nav, ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* Style the nav bar */
  nav {
    width: calc(100% - 0.8rem);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1000;
  }
  
  /* Style the logo */
  .nav_logo {
    margin-right: auto; /* Pushes the logo to the left */
    
  }
  


  
  /* Style the list items */
  nav ul li {
    display: inline-block;
    padding: 10px 20px;
  }
  
  /* Style the links */
  nav ul li a {
    display: inline-block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-size: 1.2rem;
  }
  
  /* Change link styles on hover */
  nav ul li a:hover {
    color: #CBB74B;
  }
  
  /* Active link styles */
  nav ul li a.active {
    color: #CBB74B; /* Change this color to the one you want for the active link */
    text-decoration: underline;
    font-size: 1.5rem;
  }
  
  /* Style the resume button */
  button {
    margin-left: auto; /* Pushes the resume button to the right */
  }
  
  button  {
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    background-color: #007A76;
    border: 1px solid #007A76;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #007A76;
    border-color: #007A76;
    color: #CBB74B;
    /* pointer */

  }
  

  