.project-list {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Tabs */
.tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

.tab {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Poppins", serif;
}

.tab.active {
  background-color: #007bff;
  color: #fff;
}

/* Project Grid */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  justify-content: center;
  padding: 20px 0;
}



/* Responsive for Tablet */
@media (max-width: 1024px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Responsive for Mobile */
@media (max-width: 640px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}

/* Project Card */
.project-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.project-card.active {
  background-color: #007bff;
  color: #fff;
}
